$color-blue-1:#2A3660;
$color-blue-2:#222B4D;
$color-blue-3:#19203A;
$color-blue-4:#141A30;


$color-brown-1:#3A342E;
$color-brown-2:#2E2A25;
$color-brown-3:#25221E;
$color-brown-4:#1E1B18;

$color-green-1:#55655B;
$color-green-2:#48574E;
$color-green-3:#3A463E;
$color-green-4:#2E3832;

$color-gray-1:#555555;
$color-gray-2:#555555;
$color-gray-3:#414141;
$color-gray-4:#2A2A2A;


$color-black:#181818;
$color-white:#FFFFFF;
