.myinput {
    width: 25%;

    & input{
    border:none;
    outline: none;
    box-shadow: none;
    background: transparent;
    &::placeholder{
        color: $color-white;
        font-family: Sofia Sans;
        font-weight: 300;
        text-transform: uppercase;
    }

}
    &::after{
        content:' ';
        height: 5px;
        display: block;
        z-index: 200;
        border-bottom:1px solid $color-white ;
    }
 

}