* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f3f3;
}

.slider-container {
  width: 80vw;
  overflow: hidden;
  position: relative;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center; /* Center the slides */
}

.slider {
  display: flex;
  transition: transform 0.5s ease-out;
}

.slider-item {
  min-width: 500px;
  margin: 0 15px;
  transition: transform 0.3s ease;
}

.slider-item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.slider-item.skew-left {
  transform: skew(-10deg);
}

.slider-item.skew-right {
  transform: skew(10deg);
}
