body{
    background-color: #31241D;
}
.contacts{
    display: flex;
    padding:2%;
    justify-content: space-between;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    border-top: 1px solid #FFFFFF99;
}
.contacts__info{
    color: #FFFFFF;
    width: 30%;
    border-right: 1px solid #FFFFFF99;
}
.contacts__info p{
    text-transform: uppercase;
    font-size: 20px;
}
.contacts__map{
    padding: 10px;
    float: right;
    border:1px solid rebeccapurple;
    width: 69%;
}
.contacts__map img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}