.test{
  border:2px solid firebrick;
  width:10rem;
  height: 10rem;
}
body{
  /* background-color: green; */
}
@media screen and (min-width: 2560px) {

}
@media (max-width: 780px){

  .portfolio__title-heading{
    color: #262626;
    text-align: center;
    font-style: normal;
    font-size: 50px;
    font-weight: 300;
    line-height: 114.7%;
    text-transform: uppercase;
    left: 100rem;
    transform: translate(0, 0);
    letter-spacing: normal;
  
  }
  .btn__circle{
    width: 80px;
    height: 80px;
  }
}
.portfolio__title{
  margin-top:120px;
  z-index: 2;
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.btn__circle{
  width: 80px;
  height: 80px;
  z-index: 10;
}
.portfolio__title-heading{
  color: #262626;
  text-align: center;
  font-style: normal;
  font-size: 70px;
  font-weight: 300;
  line-height: 114.7%;
  text-transform: uppercase;
  left: 100rem;
  transform: translate(0, 0);
  letter-spacing: normal;
}
.portfolio__banner{
  width: 100%;
  margin-top:-15vh;
  position: relative;
}
.portfolio__banner img{
  width: 100%;
  object-fit: cover;
  z-index: -1;

}
.btn__circle.first{
  position: absolute;
  z-index: 5;
}
.first{
  top:14%;
  left: 22%;

}
.second{
  top:37%;
  left:50%;
  position: absolute;
  z-index: 5;
}
.third{
  top:55%;
  left:40%;
  position: absolute;
  z-index: 5;
}