body {
    /*   overscroll-behavior: none; */
      height: 100vh;
      overflow-x: hidden;
      overflow-y: scroll;
}

.swipe-section {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;

}

.swipe-section .scroll_vertical_panel {
    position: absolute;
}


.scroll_vertical_panel {
    position: relative;
    box-sizing: border-box;
}
