<section class="form active" style = "height: 50vh;position: relative;">
    <h3 class="form__title">
        Расскажите о доме своей мечты, и мы составим для <br />
        вас эксклюзивное коммерческое предложение.
    </h3>
    <form class="form__body">
        <input placeholder="Ваше имя" class="input" type="text" />
        <input placeholder="Номер телефона" class="input" type="tel" />
        <button class="form__body-btn">Получить косультацию</button>
    </form>
</section>
<footer id="footer" class="footer active "style = "height: 100vh;position: relative;">
    <div class="footer__wrap">
        <div class="footer__marque">
            <span> Art Building studio Art Building studio </span>
            <span> Art Building studio Art Building studio </span>
        </div>
    </div>
    <div class="footer__menu">
        <div class="footer__menu-office">
            <span class="footer__menu-office-title"> Офис </span>
            <a href="">г. Москва, Береговой проезд, 5А, к1</a>
            <a href="email:mail@mail.com">mail@mail.com</a>
        </div>
        <div class="footer__menu-tel">
            <span class="footer__menu-tel-title"> Телефон </span>
            <a href="tel:+74951896813">+7 (495) 189-68-13</a>
        </div>
        <div class="footer__menu-mess">
            <span class="footer__menu-mess-title"> Мессенджеры </span>
            <a href="">WhatsApp</a>
            <a href="">Telegram</a>
        </div>
        <div class="footer__menu-social">
            <span class="footer__menu-social-title"> Соц. сети </span>
            <ul class="footer__menu-social-list">
                <li>
                    <a href=""> </a>
                </li>
                <li>
                    <a href=""> </a>
                </li>
                <li>
                    <a href=""> </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer__copyright">
        <span>Политика конфиденциальности</span>
        <span> © Art Building Studio 2023</span>
    </div>
</footer>