<header class="header">
    <div class="header-top">
        <div class="header__menu-list-item">
            <a href="">Заказать звонок</a>
            <a class="mobile__content" href=""></a>
        </div>
        <div class="header__menu-list-item">
            <a href="">AB STUDIO</a>
        </div>
        <div class="header__menu-list-item">
            <button class="header__burger">
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
    <div class="header__bottom">
        <div class="header__bottom-left">
            <div>
                <a id="id__project" href="#architecture__after"
                    >индивидуальное <br />
                    проектирование</a
                >
                <a id="id__landscape" href="#landscape__after"
                    >ландшафтный <br />
                    дизайн</a
                >
                <a id="id__interior" href="#interior__after"
                    >дизайн <br />
                    интерьера
                </a>
                <a id="id__building" href="#building__after">строительство</a>
            </div>
            <div>
                <a href="">о нас</a>
                <a href="">новости</a>
                <a id="id__footer" href="#footer">контакты</a>
            </div>
            <div class="social__mobile mobile__content">
                <a href=""></a>
                <div class="social__line"></div>
                <a href=""></a>
                <a href=""></a>
            </div>
        </div>
        <div class="header__bottom-center"></div>
        <div class="header__bottom-right desktop__content">
            <div class="maps__column">
                <span>контакты</span>
                <div
                    class="map"
                    id="map"
                    style="width: 463px; height: 239px"
                ></div>
            </div>
            <div class="contact__column">
                <a class="contact__link" href=""
                    >москва, <br />
                    ул. Большая Якиманка, 33/13с2
                </a>
                <a class="contact__link" href="+74951896813"
                    >+7 (495) 189-68-13</a
                >
                <a class="contact__link" href="">WhatsApp</a>
                <a class="contact__link" href="">Telegram</a>
                <a class="contact__link" href="">mail@mail.com</a>
                <div class="header__social">
                    <a href=""></a>
                    <a href=""></a>
                    <a href=""></a>
                </div>
            </div>
        </div>
    </div>
    <div class="cylinder_gallery">
        <div class="cylinder_images">
            <img src="https://via.placeholder.com/200x200?text=1" alt="Image 1">
            <img src="https://via.placeholder.com/200x200?text=2" alt="Image 2">
            <img src="https://via.placeholder.com/200x200?text=3" alt="Image 3">
            <img src="https://via.placeholder.com/200x200?text=4" alt="Image 4">
        </div>
    </div>
</header>