body {
    height: 100vh;
    background-image: linear-gradient(0deg, #0ce0b2, #6b001d);
}

.gallery {
    margin: 0px auto;
    top: 150px;
    width: 500px;
    perspective: 900px;
    position: relative;
}

#frames {
    width: 50px;
    transform-style: preserve-3d;
    transform: rotateX(-10deg) rotateY(30deg) rotateZ(0deg) translate3d(230px, 70px, 0px);
}

.images {
    transform-style: preserve-3d;
    animation: spin 20s infinite linear;
}

.images span {
    transform-style: preserve-3d;
    animation: spin 20s infinite linear;
}

.images span div {
    position: absolute;
    border: solid rgb(145, 87, 0);
    border-width: thin 0;
    height: 320px;
    width: 60px;
    margin: 30px;
}

.images.one {
    transform: rotateY(0deg) translateZ(330px);
}
.images.two {
  transform: rotateY(180deg) translateZ(330px);
}

.images .one div {
    background: url("../../img/dist/bui-mob.jpg");
}
.images .two div {
    background: url("../../img/dist/landscape-mob.png");
}

.images div:after {
    content: '';
    position: absolute;
    width: 66px;
    bottom: -40px;
    box-shadow: 0px 20px 40px 10px rgba(0,0,0,.3);
}

.images span .s {
    background-position: 913px;
    transform: rotateY(0deg) translateZ(200px);
}

.images  span .s1 {
    background-position: 860px;
    transform: rotateY(15deg) translateZ(200px);
}

.images  span .s2 {
    background-position: 807px;
    transform: rotateY(30deg) translateZ(200px);
}
 
.images  span .s3 {
    background-position: 754px;
    transform: rotateY(45deg) translateZ(200px);
}
/*
.images .s4 {
    background-position: 701px;
    transform: rotateY(60deg) translateZ(200px);
}

.images .s5 {
    background-position: 648px;
    transform: rotateY(75deg) translateZ(200px);
}

.images .s6 {
    background-position: 595px;
    transform: rotateY(90deg) translateZ(200px);
}

.images .s7 {
    background-position: 542px;
    transform: rotateY(105deg) translateZ(200px);
}

.images .s8 {
    background-position: 490px;
    transform: rotateY(120deg) translateZ(200px);
}

.images .s9 {
    background-position: 437px;
    transform: rotateY(135deg) translateZ(200px);
}

.images .s10 {
    background-position: 384px;
    transform: rotateY(150deg) translateZ(200px);
}

.images .s11 {
    background-position: 331px;
    transform: rotateY(165deg) translateZ(200px);
}

.images .s12 {
    background-position: 278px;
    transform: rotateY(180deg) translateZ(200px);
}

.images .s13 {
    background-position: 225px;
    transform: rotateY(195deg) translateZ(200px);
}

.images .s14 {
    background-position: 172px;
    transform: rotateY(210deg) translateZ(200px);
}

.images .s15 {
    background-position: 119px;
    transform: rotateY(225deg) translateZ(200px);
}

.images .s16 {
    background-position: 66px;
    transform: rotateY(240deg) translateZ(200px);
}

.images .s17 {
    background-position: 13px;
    transform: rotateY(255deg) translateZ(200px);
}

.images .s18 {
    background-position: -40px;
    transform: rotateY(270deg) translateZ(200px);
}

.images .s19 {
    background-position: -93px;
    transform: rotateY(285deg) translateZ(200px);
}*/

.images span .s20 {
    background-position: -146px;
    transform: rotateY(300deg) translateZ(200px);
} 

.images span .s21 {
    background-position: 701px;
    transform: rotateY(315deg) translateZ(200px);
}

.images span .s22 {
    background-position: 648px;
    transform: rotateY(330deg) translateZ(200px);
}

.images span .s23 {
    background-position: 595px;
    transform: rotateY(345deg) translateZ(200px);
}

/* Animation for smooth rotating */
@keyframes spin {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
  }